body {
	padding: 0px;
	margin: 0px;
	color: #404040;
	background-color: #ffffff;
}

p, h1, h2, a, li, input, select, label, textarea, span {
	font-size: 12px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

p, h1, h2 {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

p.c {
	text-align: center;
}

p.r {
	text-align: right;
}

p.path {
	font-size: 10px;
	text-align: right;
	color: #bbbbbb;
	margin-bottom: 20px;
}

p.path a {
	font-size: 10px;
	color: #bbbbbb;
}

h1, h2, p.p {
	margin-bottom: 5px;
	text-indent: 40px;
}

p.p {
	text-align: justify;
}

h1 {
	font-size: 14px;
	color: #c70711;
	margin-bottom: 20px;
}

h2 {
	font-weight: bold;
	margin-bottom: 20px;
}

p.main_menu {
	text-align: center;

}
p.main_menu a {
	font-size: 18px;
	text-decoration: none;
}

p.contacts {
	font-size: 15px;
	color: #ffffff;
}
p.contacts a {
	font-size: 15px;
	color: #ffffff;
}

p.contacts_phone {
	font-size: 24px;
	color: #ffffff;
}

p.contacts_phone a {
	font-size: 24px;
	color: #ffffff;
}

p.menu_group {
	margin-top: 5px;
	padding-left: 15px;
	
	background-image: url(../images/design/square.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}
p.menu_category {
	margin-left: 20px;
}

a {
	color: #404040;
}

p.menu_group a {
	font-weight: bold;
}

p.menu_category a {
	font-weight: bold;
	text-decoration: none;
}

a.menu_category:hover {
	text-decoration: underline;
}

img {
	border: none;
}

img.product {
	border: 1px solid #c70711;
}

ul, ol {
	text-align: left;
}

div.separator {
	overflow: hidden;

	height: 1px;
	margin: 10px 5% 10px 5%;

	border-bottom: 1px solid #c70711;
}

div.indent {
	overflow: hidden;

	height: 1px;
	margin: 10px 0px 10px 0px;
}

div.links, div.links a {
	font-size: 9px;
}

form {
	margin: 0px;
	padding: 0px;
}

input.text {
	margin: 0px; padding: 2px;
	border: 1px solid #bbbbbb;
}

input.button {
	color: #000000;
	width: 120px; height: 20px;
	margin: 0px; padding: 0px;
	border: 1px solid #bbbbbb;
	background-color: #ddddd;
}

input.basket {
	border: none;
	
	text-align: right;
	
	height: 18px;
	width: 90%;
	
	padding: 2px 0px 0px 0px;
	margin: 0px;
}

textarea {
	border: 1px solid #bbbbbb;
}

span.require {
	color: #ff6666;
}

p.setlinks, p.setlinks a {
	margin: 5px;
	font-size: 10px;
	text-align: center;
}

div.picture {
	width: 230px;
	float: left;
	text-align: center;
	padding-bottom: 20px;
}